{% extends 'baseConnect.html.twig' %}
{% block title %}Recherche abonnement{% endblock %}
{% block body %}
<div class="administration">
    <div class="content">
        <div class="container">
            {% include "dashboard/apiCaisse/partials/_logo.html.twig" %}
            <h1>Caisse de <span>Xtra Copy</span> : Selection d'imprimantes</h1>
            <div class="formulaire">
                <h4>Selection de imprimantes</h4>
                <div class="abonne">
                <h3>{{ nom }} {{ prenom }}</h3>
                <p>Couleur : <span class="clientColor">{{ color }}</span> (<strong class="cptColor">0</strong>)</p>
                <p>Noir et blanc : <span class="blackWhite">{{ blackWhite }}</span>  (<strong class="cptBlackWhite">0</strong>)</p>     
                </div>
                <div class="allPrint">
                    {% for print in prints %}
                    <div class="printSelect">
                        <div class="info">
                            <ul>
                                <li class="nbrPrint">Imprimante {{print.NumberPrint}}</li>
                                <li class="resultat color" data="{{print.id}}">Couleur : <span>{{ print.endColor - print.startColor }}</span> </li>
                                <li class="resultat blackWhite" data="{{print.id}}" >Noir et blanc :
                                    <span>{{ print.endWhiteBlack - print.startWhiteBlack }}</span> </li>
                            </ul>
                        </div>
                        <div class="choix">
                            <input type="checkbox" class="printSelected" id={{ print.id }}>
                            <label for="myCheckbox" class="checkbox-label">Sélectionner</label>
                        </div>
                        <div class="deletePrint">
                            <a href="{{path('DeletePrint2',{'id': print.id})}}">Supprimer</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="linkPrint">
                    <div class="linkValide">
                        <a href="">Valider</a>
                    </div>
                     <div class="linkRefresh">
                        <a href="#" onclick="window.location.reload()">Rafraichir</a>
                    </div>
                    <div class="linkReturn">
                        <a href="{{ path('withAbo') }}">Retour</a>
                    </div>

                </div>
            </div>
        </div>
        {% include "dashboard/apiCaisse/partials/_footer.html.twig" %}
    </div>
</div>


{% endblock %}
