{% extends 'baseConnect.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<div class="administration">
    <div class="content">
        <div class="container">
        {% include "dashboard/apiCaisse/partials/_logo.html.twig" %}
            <h1>Editer abonné</h1>
            {{form_start(form)}}
            <div class="formulaire">
            
            <div class="form-groupe">
                {{ form_label(form.Nom) }}
                {{ form_widget(form.Nom) }}
                {{ form_errors(form.Nom) }}
            </div>
            <div class="form-groupe">
                {{ form_label(form.Surname) }}
                {{ form_widget(form.Surname) }}
                {{ form_errors(form.Surname) }}
            </div>
            <div class="form-groupe">
                {{ form_label(form.mail) }}
                {{ form_widget(form.mail) }}
                {{ form_errors(form.mail) }}
            </div>
            <div class="form-groupe">
                {{ form_label(form.Color) }}
                {{ form_widget(form.Color) }}
                {{ form_errors(form.Color) }}
            </div>
            <div class="form-groupe">
                {{ form_label(form.BlackWhite) }}
                {{ form_widget(form.BlackWhite) }}
                {{ form_errors(form.BlackWhite) }}
            </div>
            <div class="button">
             <button type="submit" class="send">Enregister</button>
            
            </div>
            <div class="retour">
            <a href="{{ path('abosearch') }}">Retour</a>
            </div>
            <div class="delete">
            <a href="{{ path('DeleteAbo', {'id': abo.id}) }}">Supprimer abonné</a>
            </div>
            </div>
            {{form_end(form)}}
           
        </div>
        {% include "dashboard/apiCaisse/partials/_footer.html.twig" %}
    </div>    
</div>
{% endblock %}
