{% extends 'baseConnect.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}

<div class="imprimante">
    <div class="container">
        <div class="row">
            <h1>Ajout d'une imprimante</h1>
        </div>
            {{form_start(form)}}
            
            <div class="form-groupe">
                {{ form_label(form.Name) }}
                {{ form_widget(form.Name) }}
                {{ form_errors(form.Name) }}
            </div>
            <div class="form-groupe">
                {{ form_label(form.numero) }}
                {{ form_widget(form.numero) }}
                {{ form_errors(form.numero) }}
            </div>
            
             <div class="form-groupe">
                {{ form_label(form.Ip) }}
                {{ form_widget(form.Ip) }}
                {{ form_errors(form.Ip) }}
            </div>
             <div class="form-groupe">
                {{ form_label(form.mibColorA4) }}
                {{ form_widget(form.mibColorA4) }}
                {{ form_errors(form.mibColorA4) }}
            </div>
            <div class="form-groupe">
                {{ form_label(form.MibColorA42) }}
                {{ form_widget(form.MibColorA42) }}
                {{ form_errors(form.MibColorA42) }}
            </div>
             <div class="form-groupe">
                {{ form_label(form.mibColorA3) }}
                {{ form_widget(form.mibColorA3) }}
                {{ form_errors(form.mibColorA3) }}
            </div>
             <div class="form-groupe">
                {{ form_label(form.mibBlackWitheA4) }}
                {{ form_widget(form.mibBlackWitheA4) }}
                {{ form_errors(form.mibBlackWitheA4) }}
            </div>
            <div class="form-groupe">
                {{ form_label(form.MibBlackWitheA42) }}
                {{ form_widget(form.MibBlackWitheA42) }}
                {{ form_errors(form.MibBlackWitheA42) }}
            </div>
            <div class="form-groupe">
                {{ form_label(form.mibBlackWitheA3) }}
                {{ form_widget(form.mibBlackWitheA3) }}
                {{ form_errors(form.mibBlackWitheA3) }}
            </div>

            <div class="button">
             <button type="submit" class="send">Enregister</button>
            
            </div>
            <div class="retourcontainer">
            <a href="{{ path('printindex') }}" class="retour">Retour</a>
            </div>
            {{form_end(form)}}
            
        
    </div>
</div>
{% endblock %}