{% extends 'baseConnect.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}

<div class="imprimante">
    <div class="container">
        <div class="row">
            <h1>Gestion du personnel de <span>Xtra-Copy</span></h1>
            <div class="menuPrint">
                <a href="{{ path('app_worker_add') }}" class="ajout">Ajouter un employé</a>
                <a href="{{ path('app_MenuAdmin') }}" class="ajout">Retour</a>
            </div>
        </div>
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Adresse mail</th>
                        <th>Mot de passe</th>
                        <th>Rôles</th>
                        <th>Actions</th>
                    </tr>
                </thead> 
                <tbody>
                {% for worker in workers %}
                    <tr>
                        <td>{{worker.email}}</td>
                        <td>{{worker.password}}</td>
                        <td>{{ worker.roles|join(', ') }}</td>
                        <td class="link">
                            <a href="{{path('app_worker_delete',{'id': worker.id})}}" class="btn btn-danger mx-2">Supprimer</a>
                        </td>
                    </tr>
                     {% endfor %}
                
                    
                </tbody>

                
            </table>
        </div>
    </div>
</div>
{% endblock %}